<!DOCTYPE html>
<html ng-app="testloginsite">
	<head>
		<meta charset="utf-8">
		<title>ค้นหา</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/my-style.css">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="http://alasql.org/console/alasql.min.js"></script>
        <script src="./js/ui-bootstrap-tpls-0.9.0.min.js"></script>
        <script src="./js/core.js"></script>
        <script src="./js/searchvip.js"></script>
        
        <style>
			 a.disabled {
			   pointer-events: none;
			   cursor: default;
			}
			a.button{
				cursor:pointer;	
			}
			
		</style>

	</head>

	<body ng-controller="mainController">
        <div class="navbar navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-muted" href="#">ลุ้นแหลก Online</a>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ng-click="gotoNews()" href="#">ข่าว</a></li>
                        <li><a ng-click="gotouserpage()" href="#">ค้นหา</a></li>
                        <li class="active"><a href="#">ค้นหาVIP</a></li>
                        <li><a ng-click="gotoTopPage()" href="#">ผู้เล่นยอดเยี่ยม</a></li>
                       <!-- <li><a ng-click="gotoPurchasedHistoryPage()" href="#">ประวัติการซื้อเพชร</a></li>
                        <li><a ng-click="gotoDailyMissionPage()" href="#">ภารกิจประจำวัน</a></li>
                        <li><a ng-click="gotoPeriodMissionPage()" href="#">ภารกิจ</a></li>
                        <li><a ng-click="gotoSettingPage()" href="#">ตั้งค่า</a></li> -->
                        <li><a ng-click="gotoWordsPage()" href="#">คำศัพท์</a></li>
                        <li><a ng-click="logout()" href="#">ออกจากระบบ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    	<div class="container" ng-controller="searchvipController as searchCtrl">
            <div class="page-header"><h1>ค้นหาVIP</h1></div>
            
           <!-- <div ng-show="isSearch == true">
               	<input type="text" name="search"ng-model="textsearch" />
                <button class="btn btn-default btn-sm" ng-click="searchCtrl.searchUser()">ค้นหา</button>
                <label><input type="checkbox" ng-model="searchCtrl.isFindVip"/>ผู้เล่น VIP</label>
            </div> -->
            <div style="padding: 5px;"> </div>
            <div>
                <form ng-show="isSearch == true">
            	   <table class="table table-bordered">
                        <tr>
                        	<th class="text-center">ชื่อ</th>
                            <th class="text-center">นามสกุล</th>
                            <th class="text-center">SMS</th>
                            <th class="text-center">VISA</th>
                            <th class="text-center">Tel</th>
                        </tr>
                        <tr ng-repeat="x in searchInfo">
                            <td class="text-center">{{ x.firstname }}</td>
                            <td class="text-center">{{ x.lastname }}</td>
                            <td class="text-center">{{ x.sms }}</td>
                            <td class="text-center">{{ x.visa }}</td>
                            <td class="text-center">{{ x.tel }}</td>
                        </tr>
                    </table>
                    <br />
                    <div ng-show="needMorePage == true">
                    	<div>หน้าที่ :</div> 
                        <ul class="pagination">
                        	<li ng-repeat="x in userdataPageNum">
                            	<a href="#" ng-click="searchCtrl.gotoPage(x)">{{ x }}</a>
                            </li>
                        </ul>
                        <p>Total: {{ searchCtrl.total }}</p>
                    </div>
                </form>
            </div>
             <br />
            <div class="row">
                <div class="col-sm-offset-10">
                    <div ng-show="isSearch == true"> <button type="button" class="btn btn-primary" ng-click="searchCtrl.ExportData()">Export</button></div>
                </div>
            </div>
        </div>
	</body>
</html>
