<!DOCTYPE html>
<html ng-app="testloginsite">
	<head>
		<meta charset="utf-8">
		<title>ผู้เล่นยอดเยี่ยม</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/my-style.css">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="./js/ui-bootstrap-tpls-0.9.0.min.js"></script>
        <script src="./js/core.js"></script>
        <script src="./js/searchvip.js"></script>
        
        <style>
			table, th , td {
			  border: 1px solid grey;
			  border-collapse: collapse;
			  padding: 5px;
			}
			table tr:nth-child(odd) {
			  background-color: #f1f1f1;
			}
			table tr:nth-child(even) {
			  background-color: #ffffff;
			}
			a.disabled {
			   pointer-events: none;
			   cursor: default;
			}
			a.button{
				cursor:pointer;	
			}
		</style>
        
	</head>

	<body ng-controller="mainController">
        <div class="navbar navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-muted" href="#">ลุ้นแหลก Online</a>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ng-click="gotoNews()" href="#">ข่าว</a></li>
                        <li><a ng-click="gotouserpage()" href="#">ค้นหา</a></li>
                        <li><a ng-click="gotoSearchVIPpage()" href="#">ค้นหาVIP</a></li>
                        <li class="active"><a href="#">ผู้เล่นยอดเยี่ยม</a></li>
                        <li><a ng-click="gotoWordsPage()" href="#">คำศัพท์</a></li>
                       <!-- <li><a ng-click="gotoPurchasedHistoryPage()" href="#">ประวัติการซื้อเพชร</a></li>
                        <li><a ng-click="gotoDailyMissionPage()" href="#">ภารกิจประจำวัน</a></li>
                        <li><a ng-click="gotoPeriodMissionPage()" href="#">ภารกิจ</a></li>
                        <li><a ng-click="gotoSettingPage()" href="#">ตั้งค่า</a></li> -->
                        <li><a ng-click="logout()" href="#">ออกจากระบบ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    	<div class="container">
            <div class="page-header"><h1>ผู้เล่นยอดเยี่ยม</h1></div>
            
            <form ng-show="isShowTopWeek == true">
            	<table>
                	<tr>
                    	<th>ชื่อ</th>
                        <th>นามสกุล</th>
                        <th>คะแนน</th>
                    </tr>
                    <tr ng-repeat="x in topWeekInfo">
                        <td>{{ x.firstname }}</td>
                        <td>{{ x.lastname }}</td>
                        <td>{{ x.score }}</td>
                    </tr>
                </table>
                <br />
            </form>
            <br />
            <div ng-show="isShowTop == true">
            	<div>สัปดาห์ที่ :</div>  
                <a class="button" ng-show="isShowNextTopWeek == true" ng-click="nextTopWeekBT()">Next</a> 
                <ul class="pagination">
                    <li ng-repeat="x in topWeekBT">
                        <a href="#" ng-click="gotoWeek(x)">{{ x }}</a>
                    </li>
                </ul>
                <a class="button" ng-show="isShowPrevTopWeek == true" ng-click="prevTopWeekBT()">Prev</a>

            </div>
            
        </div>
	</body>
</html>
