<!DOCTYPE html>
<html ng-app="testloginsite">
	<head>
		<meta charset="utf-8">
		<title>คำศัพท์</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/my-style.css">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="./js/ui-bootstrap-tpls-0.9.0.min.js"></script>
        <script src="./js/core.js"></script>
        
        <style>
			table, th , td {
			  border: 1px solid grey;
			  border-collapse: collapse;
			  padding: 5px;
			}
			table tr:nth-child(odd) {
			  background-color: #f1f1f1;
			}
			table tr:nth-child(even) {
			  background-color: #ffffff;
			}
			a.disabled {
			   pointer-events: none;
			   cursor: default;
			}
			a.button{
				cursor:pointer;	
			}
		</style>
        
	</head>

	<body ng-controller="mainController">
        <div class="navbar navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-muted" href="#">ลุ้นแหลก Online</a>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ng-click="gotoNews()" href="#">ข่าว</a></li>
                        <li><a ng-click="gotouserpage()" href="#">ค้นหา</a></li>
                        <li><a ng-click="gotoTopPage()" href="#">ผู้เล่นยอดเยี่ยม</a></li>
                        <li class="active"><a href="#">คำศัพท์</a></li>
                       <!-- <li><a ng-click="gotoPurchasedHistoryPage()" href="#">ประวัติการซื้อเพชร</a></li>
                        <li><a ng-click="gotoDailyMissionPage()" href="#">ภารกิจประจำวัน</a></li>
                        <li><a ng-click="gotoPeriodMissionPage()" href="#">ภารกิจ</a></li>
                        <li><a ng-click="gotoSettingPage()" href="#">ตั้งค่า</a></li> -->
                        <li><a ng-click="logout()" href="#">ออกจากระบบ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    	<div class="container">
            <div class="page-header"><h1>คำศัพท์</h1></div>
            
            <div role="tabpanel">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist" ng-show="isShow == true">
                <li role="presentation" class="active"><a href="#lv1" aria-controls="lv1" role="tab" data-toggle="tab">Level 1</a></li>
                <li role="presentation"><a href="#lv2" aria-controls="lv2" role="tab" data-toggle="tab">Level 2</a></li>
                <li role="presentation"><a href="#lv3" aria-controls="lv3" role="tab" data-toggle="tab">Level 3</a></li>
                <li role="presentation"><a href="#lv4" aria-controls="lv4" role="tab" data-toggle="tab">Level 4</a></li>
                <li role="presentation"><a href="#lv5" aria-controls="lv5" role="tab" data-toggle="tab">Level 5</a></li>
                <li role="presentation"><a href="#lv6" aria-controls="lv6" role="tab" data-toggle="tab">Level 6</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content" ng-show="isShow == true">
                <div role="tabpanel" class="tab-pane active" id="lv1">
                    <form >
                        <table class="table table-bordered">
                            <tr ng-repeat="word in wordsLvOne" >
                                <td ng-repeat="y in word" >
                                    <a href="#" ng-click="selectWord(y)">{{ y.word }}</a>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <div class="row">
                            <div>
                                <div>หน้าที่ :</div>  
                                <ul class="pagination">
                                    <li ng-repeat="x in lvOneBT">
                                        <a href="#" ng-click="gotoWordsLvPage(x, '1')">{{ x }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="lv2">
                     <form>
                        <table class="table table-bordered">
                            <tr ng-repeat="word in wordsLvTwo" >
                                <td ng-repeat="y in word" >
                                    <a href="#" ng-click="selectWord(y)">{{ y.word }}</a>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <div class="row">
                            <div>
                                <div>หน้าที่ :</div>  
                                <ul class="pagination">
                                    <li ng-repeat="x in lvTwoBT">
                                        <a href="#" ng-click="gotoWordsLvPage(x, '2')">{{ x }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="lv3">
                     <form>
                        <table class="table table-bordered">
                            <tr ng-repeat="word in wordsLvThree" >
                                <td ng-repeat="y in word" >
                                    <a href="#" ng-click="selectWord(y)">{{ y.word }}</a>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <div class="row">
                            <div>
                                <div>หน้าที่ :</div>  
                                <ul class="pagination">
                                    <li ng-repeat="x in lvThreeBT">
                                        <a href="#" ng-click="gotoWordsLvPage(x, '3')">{{ x }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="lv4">
                     <form>
                        <table class="table table-bordered">
                            <tr ng-repeat="word in wordsLvFour" >
                                <td ng-repeat="y in word" >
                                    <a href="#" ng-click="selectWord(y)">{{ y.word }}</a>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <div class="row">
                            <div>
                                <div>หน้าที่ :</div>  
                                <ul class="pagination">
                                    <li ng-repeat="x in lvFourBT">
                                        <a href="#" ng-click="gotoWordsLvPage(x, '4')">{{ x }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="lv5">
                     <form>
                        <table class="table table-bordered">
                            <tr ng-repeat="word in wordsLvFive" >
                                <td ng-repeat="y in word" >
                                    <a href="#" ng-click="selectWord(y)">{{ y.word }}</a>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <div class="row">
                            <div>
                                <div>หน้าที่ :</div>  
                                <ul class="pagination">
                                    <li ng-repeat="x in lvFiveBT">
                                        <a href="#" ng-click="gotoWordsLvPage(x, '5')">{{ x }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="lv6">
                     <form>
                        <table class="table table-bordered">
                            <tr ng-repeat="word in wordsLvSix" >
                                <td ng-repeat="y in word" >
                                    <a href="#" ng-click="selectWord(y)">{{ y.word }}</a>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <div class="row">
                            <div>
                                <div>หน้าที่ :</div>  
                                <ul class="pagination">
                                    <li ng-repeat="x in lvSixBT">
                                        <a href="#" ng-click="gotoWordsLvPage(x, '6')">{{ x }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
              </div>

            </div>
            <!-- end Tab -->
           
            <br />
            <div class="row" ng-show="isSelected == true">
               
                <div class="col-sm-offset-10">
                    <div>
                        <input id="changeWord" type="text" name="changeWord"ng-model="textsearch" />
                    </div>
                </div>
            </div>
            <br />
            <div class="row" ng-show="isSelected == true">
                <div  class="col-sm-offset-10">
                    <button type="button" class="btn btn-primary" ng-click="SaveWord()">บันทึก</button>
                    <div>
                        <div ng-show="isLoading == true">กำลังอัพโหลดข้อมูล กรุณารอสักครู่...</div>
                    </div>
                </div>
            </div>
            
        </div>
	</body>
</html>
