<!DOCTYPE html>
<html ng-app="testloginsite">
	<head>
		<meta charset="utf-8">
		<title>ผู้เล่นยอดเยี่ยม</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/my-style.css">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="http://alasql.org/console/alasql.min.js"></script>
        <script src="./js/ui-bootstrap-tpls-0.9.0.min.js"></script>
        <script src="./js/core.js"></script>
        
        <style>
			/*table, th , td {
			  border: 1px solid grey;
			  border-collapse: collapse;
			  padding: 5px;
			}
			table tr:nth-child(odd) {
			  background-color: #f1f1f1;
			}
			table tr:nth-child(even) {
			  background-color: #ffffff;
			}*/
			a.disabled {
			   pointer-events: none;
			   cursor: default;
			}
			a.button{
				cursor:pointer;	
			}
		</style>
        
	</head>

	<body ng-controller="mainController">
        <div class="navbar navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-muted" href="#">สับ ขา ซิ่ง</a>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ng-click="gotouserpage()" href="#">ข้อมูลบุคคล</a></li>
                        <li><a ng-click="gotoNumberUser()" href="#">จำนวนผู้เล่นรวม</a></li>
                        <li class="active"><a href="#">ผู้เล่นยอดเยี่ยม</a></li>
                        <li><a ng-click="logout()" href="#">ออกจากระบบ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    	<div class="container">
            <div class="page-header"><h1>ผู้เล่นยอดเยี่ยม</h1></div>
            
            <div style="padding:5px">
                <div class="row">
                    <!-- StartDate -->
                    <div class="col-sm-5">
                        Start Date: <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datepickerData.sdt" id="sdt" is-open="opened1" min-date="sdt" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="changeDatePick('sdt')" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event, opened1)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <!-- EndDate -->
                    <div class="col-sm-5">
                        End Date: <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datepickerData.edt" id="edt" is-open="opened2" min-date="edt1" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="changeDatePick('edt')" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event, opened2)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <br />
                        <div><button type="button" class="btn btn-primary" ng-click="findUser()" ng-disabled="activeFind">Find</button></div>
                    </div>
                </div>
            </div>

            <div role="tabpanel">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#score" aria-controls="score" role="tab" data-toggle="tab">คะแนน</a></li>
                <li role="presentation"><a href="#playcnt" aria-controls="playcnt" role="tab" data-toggle="tab">จำนวนการเล่น</a></li>
                <li role="presentation"><a href="#sharecnt" aria-controls="sharecnt" role="tab" data-toggle="tab">จำนวนการแชร์</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="score">
                    <form ng-show="isShowTopWeekScore == true">
                        <table class="table table-bordered">
                            <tr class="info">
                                <th class="text-center">no.</th>
                                <th class="text-center">uid</th>
                                <th class="text-center">ชื่อ</th>
                                <th class="text-center">e-mail</th>
                                <th class="text-center">โทรศัพท์</th>
                                <th class="text-center">คะแนน</th>
                            </tr>
                            <tr ng-repeat="x in topWeekScoreInfo">
                                <td class="text-center">{{x.runnigno}}</td>
                                <td class="text-center">{{ x.uid }}</td>
                                <td class="text-center">{{ x.realname }}</td>
                                <td class="text-center">{{ x.email }}</td>
                                <td class="text-center">{{ x.tel }}</td>
                                <td class="text-center">{{ x.score }}</td>
                            </tr>
                        </table>
                        <br />
                        <div class="row">
                            <div class="col-sm-offset-10">
                                <div> <button type="button" class="btn btn-primary" ng-click="ExportData(topWeekScoreInfo, 'TopScoreInfo')">Export</button></div>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="playcnt">
                     <form ng-show="isShowTopPlay == true">
                        <table class="table table-bordered">
                            <tr class="info">
                                <th class="text-center">no.</th>
                                <th class="text-center">uid</th>
                                <th class="text-center">ชื่อ</th>
                                <th class="text-center">e-mail</th>
                                <th class="text-center">โทรศัพท์</th>
                                <th class="text-center">รอบการเล่น</th>
                            </tr>
                            <tr ng-repeat="x in topPlayInfo">
                                <td class="text-center">{{ x.runnigno }}</td>
                                <td class="text-center">{{ x.uid }}</td>
                                <td class="text-center">{{ x.realname }}</td>
                                <td class="text-center">{{ x.email }}</td>
                                <td class="text-center">{{ x.tel }}</td>
                                <td class="text-center">{{ x.score }}</td>
                            </tr>
                        </table>
                        <br />
                        <div class="row">
                            <div class="col-sm-offset-10">
                                <div> <button type="button" class="btn btn-primary" ng-click="ExportData(topPlayInfo, 'TopPlayInfo')">Export</button></div>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="sharecnt">
                     <form ng-show="isShowTopShare == true">
                        <table class="table table-bordered">
                            <tr class="info">
                                <th class="text-center">no.</th>
                                <th class="text-center">uid</th>
                                <th class="text-center">ชื่อ</th>
                                <th class="text-center">e-mail</th>
                                <th class="text-center">โทรศัพท์</th>
                                <th class="text-center">รอบการแชร์</th>
                            </tr>
                            <tr ng-repeat="x in topShareInfo">
                                <td class="text-center">{{ x.runnigno }}</td>
                                <td class="text-center">{{ x.uid }}</td>
                                <td class="text-center">{{ x.realname }}</td>
                                <td class="text-center">{{ x.email }}</td>
                                <td class="text-center">{{ x.tel }}</td>
                                <td class="text-center">{{ x.score }}</td>
                            </tr>
                        </table>
                        <br />
                        <div class="row">
                            <div class="col-sm-offset-10">
                                <div> <button type="button" class="btn btn-primary" ng-click="ExportData(topShareInfo, 'TopShareInfo')">Export</button></div>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
              </div>

            </div>


            
            <br />
            <div ng-show="isShowTop == true">
            	<div>สัปดาห์ที่ :</div>  
                <a class="button" ng-show="isShowNextTopWeek == true" ng-click="nextTopWeekBT()">Next</a> 
                <ul class="pagination">
                    <li ng-repeat="x in topWeekBT">
                        <a href="#" ng-click="gotoWeek(x)">{{ x }}</a>
                    </li>
                    <li><a href="#" ng-click="gotoWeek('-1')">All Week</a></li>
                </ul>
                <a class="button" ng-show="isShowPrevTopWeek == true" ng-click="prevTopWeekBT()">Prev</a>

            </div>
            
        </div>
	</body>
</html>
