<!DOCTYPE html>
<html ng-app="testloginsite">
	<head>
		<meta charset="utf-8">
		<title>ข้อมูลบุคคล</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/my-style.css">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="http://alasql.org/console/alasql.min.js"></script>
        <script src="./js/ui-bootstrap-tpls-0.9.0.min.js"></script>
        <script src="./js/core.js"></script>
        
        <style>
			/*table, th , td {
			  border: 1px solid grey;
			  border-collapse: collapse;
			  padding: 5px;
			}
			table tr:nth-child(odd) {
			  background-color: #f1f1f1;
			}
			table tr:nth-child(even) {
			  background-color: #ffffff;
			}*/
			 a.disabled {
			   pointer-events: none;
			   cursor: default;
			}
			a.button{
				cursor:pointer;	
			}
			
		</style>

	</head>

	<body ng-controller="mainController">
        <div class="navbar navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-muted" href="#">สับ ขา ซิ่ง</a>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">ข้อมูลบุคคล</a></li>
                        <li><a ng-click="gotoNumberUser()" href="#">จำนวนผู้เล่นรวม</a></li>
                        <li><a ng-click="gotoTopPage()" href="#">ผู้เล่นยอดเยี่ยม</a></li>
                        <li><a ng-click="logout()" href="#">ออกจากระบบ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    	<div class="container">
            <div class="page-header"><h1>ข้อมูลบุคคล</h1></div>
            <div style="padding: 5px;"> </div>
            <div ng-show="isSearch == false">
                <span class="label label-info">Loading....</span>
            </div>
            <div>
                <form ng-show="isSearch == true">
            	   <table class="table table-striped">
                        <tr>
                            <th class="text-center">No.</th>
                        	<th>Facebook Name</th>
                            <th>User ID</th>
                            <th>Real Name</th>
                            <th>Telephone</th>
                            <th>E-mail</th>
                            <th>Created Time</th>
                            <th>Android</th>
                            <th>Facebook</th>
                            <th>iOS</th>
                        </tr>
                        <tr ng-repeat="x in searchInfo">
                            <td class="text-center">{{x.runningno}}</td>
                            <td>{{ x.firstname + " " + x.lastname }}</td>
                            <td>{{ x.uid }}</td>
                            <td>{{ x.realname }}</td>
                            <td>{{ x.tel }}</td>
                            <td>{{ x.email }}</td>
                            <td>{{ x.createdtime }}</td>
                            <td>{{ x.android }}</td>
                            <td>{{ x.facebook }}</td>
                            <td>{{ x.ios }}</td>
                        </tr>
                    </table>
                    <br />
                        <div class="row">
                            <div class="col-sm-offset-10">
                                <div> <button type="button" class="btn btn-primary" ng-click="ExportData(userInfoArr, 'TopUserInfo')">Export</button></div>
                            </div>
                        </div>
                    <br />
                    <div ng-show="needMorePage == true">
                    	<div>หน้าที่ :</div> 
                        <ul class="pagination">
                        	<li ng-repeat="x in userdataPageNum">
                            	<a href="#" ng-click="gotoPage(x)">{{ x }}</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
	</body>
</html>
