<!DOCTYPE html>
<html ng-app="testloginsite">
	<head>
		<meta charset="utf-8">
		<title>โฆษณาบนรถ</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/my-style.css">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="http://alasql.org/console/alasql.min.js"></script>
        <script src="./js/ui-bootstrap-tpls-0.9.0.min.js"></script>
        <script src="./js/core.js"></script>
        <script src="./js/navbar.js"></script>
        <script src="./js/search.js"></script>
        <script src="./js/carads.js"></script>
        <script src="./js/trackads.js"></script>
        <style>
        a.disabled {
		   pointer-events: none;
		   cursor: default;
		}
		a.button{
			cursor:pointer;	
		}
		</style>
        
	</head>

	<body ng-controller="mainController">
        <navbar-panels></navbar-panels>
        
    	<div class="container" ng-controller="caradsController as caradsCtrl">
            <div class="page-header"><h1>โฆษณาบนรถ</h1></div>
            <div class="alert alert-warning alert-dismissible" role="alert">
                ภาพโฆษณาจะถูกนำไปวางบนรถโดยการสุ่ม
            </div>
            <div class="panel panel-default"><div class="row text-center" style="margin-top:10px;margin-bottom:10px;">
                <img ng-src="{{carImgSrc}}" alt="Track1" >
            </div></div>
            <div class="row text-center" style="margin-top:10px;margin-bottom:50px;">
                <button class="btn btn-default" ng-click="caradsCtrl.prevCarImg()">Prev</button>
                <button class="btn btn-default" ng-click="caradsCtrl.nextCarImg()">Next</button>
            </div>
            <hr/>
            <div ng-repeat="x in rowArr">
                <div class="row" >
                    <div ng-repeat="y in x.columArr">
                        <div class="col-sm-4">
                            <form id="fileupload" name="fileupload" enctype="multipart/form-data" method="post">
                                <div class="form-group">
                                    <label>รูปภาพ (480 x 270)</label>
                                    <div style="margin-bottom:2px;"><img ng-src="{{y.imgurl}}" alt="Ads Image" width="200" height="113"></div>
                                    <div style="margin-bottom:10px;"><input type="file" name="fileselect" id="fileselect" ng-click="click(y)" onchange="angular.element(this).scope().uploadImage(this)"></input></div>
       
                                    <div><button class="btn btn-default" ng-disabled="buttonSaveDisabled" ng-click="caradsCtrl.uploadbutton(y)">บันทึก</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
           
            <hr/>

        </div>
        
        
	</body>
</html>
