<!DOCTYPE html>
<html ng-app="main">
	<head>
		<meta charset="utf-8">
		<title>ล็อกอิน</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/my-style.css">
 		<script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="./js/ui-bootstrap-tpls-0.9.0.min.js"></script>
        <script src="./js/core.js"></script>
        
        <style>
			table, th , td {
				margin: 20px auto;
			  	border: 1px solid grey;
			  	border-collapse: collapse;
			  	padding: 5px;
			}
			table tr:nth-child(odd) {
			  background-color: #f1f1f1;
			}
			table tr:nth-child(even) {
			  background-color: #ffffff;
			}
			table div{
				padding: 5px;	
			}
		</style>
	</head>

	<body ng-controller="mainController as mainCtrl">
    	<div class="container">
            <form ng-show="mainCtrl.isLoggedIn == false">
            <table>
              <th><div>ล็อกอินเข้าสู่ระบบ</div></th>
              <tr>
              	<td>
                 <div>Username: <br /> <input type="text" ng-model="user.username" /></div>
                 <div>Password: <br /> <input type="password" ng-model="user.password" /></div>
                 <div><button class="btn btn-default" ng-click="mainCtrl.login(user)">ล็อกอิน</button></div>
              	</td>
              </tr>
            </table>
            </form>
            <div ng-show="mainCtrl.isLoggedIn == true">
            	<p>Loading....</p>
            </div>
            
            
        </div>
	</body>
</html>
